html{
    overflow: scroll;
}
body {
    background-color: rgb(247, 247, 247);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto;
    overflow: scroll;
}

tr:hover {
    background-color: rgb(230, 229, 229);
}

.item {
    margin-bottom: 40px;
}

div.datatable-top::after {
    display: none; !important;
}

#modal-backdrop{
    opacity: 0;
}

#search-container {
    width: 10%;
}

img {
    height: 40px;
}

img:hover {
    cursor: pointer;
}
.page-item{
    cursor: pointer;
}

#my_data_table  {
width: 100%;
}

#add_button{
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    color: white;
    background-color: #0084ff;
    border: none;

}
.page-item.disabled{
    cursor: default;

}
td{
    padding: 5px;
}
#search_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0084ff;
    width: 35px;
    height: 35px;
    display: block;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* #EditIcon{
    background:url('/static/src/images/edit.png');
} */

.littlebutton{
    border: none;
    background: none;
    background-color: none;
}

.littleicons{
    height: 16px;
    width:  16px;
}